@import "./normalize.css";
:root {
  --color-primary: rgba(43, 43, 43, 1);
  --color-secondary: #00d9ff;
  --color-background: #fdf7ee;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Typography */
::selection {
  background: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Roboto;
  color: var(--color-primary);
  font-size: 2.4rem;
  line-height: 1.5;
  background: var(--color-background);
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Main */
.main {
  max-width: 1000px;
}
.main__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main__container_saved {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid lightgrey;
  border-radius: 15px;
  max-width: 900px;
}
.tickers-list {
  width: 900px;
}
.ticker__saved {
  padding: 0 2rem;
}
.ticker__delete {
  color: #a50e0e;
  background: #fce8e6;
  cursor: pointer;
  transition: all 0.3s;
}
.ticker__delete:hover {
  background: rgb(97, 92, 92) 8e6;
}
.ticker__title {
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__container {
    flex-direction: column;
  }
  .main__container_saved {
    width: 100%;
  }
  .tickers-list {
    width: 100%;
  }
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(20, 22, 24);
}
.header__image {
  width: 6rem;
}
.header__title {
  font-weight: 300;
  color: rgb(20, 22, 24);
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row-reverse;
  }
}
/* Tickers */
.tickers-list {
  margin: 2rem auto;
  padding: 0 1rem;
}
.ticker {
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.ticker:hover {
  background: rgb(239, 244, 247);
}
.tickers-list__indicator {
  background: rgb(167, 23, 26);
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--color-background);
}
.ticker__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.ticker__right h4 {
  font-weight: 300;
}
.ticker__right_percent {
  color: #a50e0e;
  background: #fce8e6;
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.tickers-list__title {
  font-weight: 400;
  margin-bottom: 0;
}
.ticker__right_plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid grey;
  font-weight: 300;
  transition: all 0.5s;
}
.ticker__right_plus:hover {
  transform: rotate(90deg);
  background: lightgrey;
  color: var(--color-background);
  border-color: lightgray;
}

/* Ticker details */

.ticker-details {
  padding: 0 1rem;
}
.ticker-details__title {
  font-weight: 300;
  font-size: 2.5rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2rem;
}
.ticker-details__price {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.ticker-details__percent {
  font-size: 2rem;
}
.ticker-details__date {
  font-size: 1.5rem;
  color: rgb(163, 158, 158);
  margin-top: -2rem;
}
.ticker-details__original {
  color: rgb(163, 158, 158);
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.ticker-details__original_price {
  color: rgb(97, 94, 94);
  background: rgb(228, 223, 223);
}
.ticker-details__yield {
  font-weight: 300;
  color: rgb(97, 94, 94);
}
.ticker-details__dividend {
  margin-top: -2.5rem;
}
@media screen and (min-width: 1024px) {
  .ticker-details {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0 auto;
    max-width: 1440px;
  }
  .ticker-details__price {
    align-items: center;
  }
  .ticker-details__price h3 {
    margin-bottom: 2rem;
  }
  .ticker-details__dividend {
    margin-top: 2.5rem;
  }
  .ticker-details__original_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
/* Explore */
.explore {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-right: -1rem;
}
.explore::-webkit-scrollbar {
  display: none;
}
.explore__ticker {
  background: white;
  border-radius: 15px;
  border: 1px solid lightgrey;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.explore__ticker:hover {
  background: rgb(239, 244, 247);
}
.explore__ticker h4 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 2rem;
}
.explore__ticker h5 {
  margin-top: 1rem;
}
.explore__ticker_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.explore__ticker_container h5 {
  margin: 0;
}
.explore__ticker_change {
  background: rgb(189, 222, 233);
  color: rgb(108, 108, 223);
}
@media screen and (min-width: 1024px) {
  .explore {
    flex-wrap: wrap;
  }
}
.increment,
.decrement {
  padding: 0.5rem;
  border-radius: 10px;
  color: #a50e0e;
  background: #fce8e6;
  width: 5rem;
  height: 5rem;
  border: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s;
}
.increment:hover,
.decrement:hover {
  background: rgb(189, 222, 233);
  color: rgb(108, 108, 223);
}
.increment:hover {
  transform: rotate(90deg);
}
.decrement:hover {
  transform: rotate(180deg);
}

.main__seconds {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}
.main__seconds h4 {
  font-weight: 300;
  color: #a50e0e;
}
.about-details {
  border-radius: 15px;
  border: 1px solid lightgrey;
  padding: 1rem;
  margin: 3rem auto;
  font-weight: 300;
}
.about-details p {
  color: grey;
}
